
:root {
    --color-valid: green;
    --color-invalid: red;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    height: 100vh;
    font-family: 'Teko', sans-serif;
}

.left {
    display: flex;
    position: relative;
    color: white;
}

.photo-credit {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -160%);
    font-size: small;
}

.photo-credit a:link, a:visited {
    color: white;
}

.st-logo {
    position: absolute;
    left: 50%;
    top: calc(300px - 89.5px);
    transform: translate(-50%,-50%);
}

/* .logo {
    position: absolute; 
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
} */

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: rgb(251, 246, 246);
    height: 300px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 50px;
}

.formContainer {
    padding: 0 50px;
    height: 250px;
}

form {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

form label {
    font-size: small;
}

form input {
    border: 1px solid #E5E7EB;
    height: 25px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 4px;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 5px 5px 5px gray;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex: 1;
    margin-top: 100px;
    background-color: rgb(251, 246, 246);
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--color-invalid);
}

input:not(:focus):not(:placeholder-shown):valid {
    border-color: var(--color-valid);
}
