body {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    height: 100vh;
    font-family: 'Teko', sans-serif;
}

.left {
    display: flex;
    position: relative;
    color: white;
}

.photo-credit {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);

}

.photo-credit a:link, a:visited {
    color: white;
}

.logo {
    position: absolute; 
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: rgb(251, 246, 246);
    height: 300px;
}

.form {
    height: 250px;
}
