body {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    height: 100vh;
}

.left {
    display: flex;
    position: relative;
}

.banner {
    position: absolute; 
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.right {
    display: flex;
    flex-direction: column;
}

.header {
    height: 200px;
}

.form {
    height: 300px;
}
